// Primary Colors
$primary-color: #213547;
$secondary-color: #224422;
$accent-color: #5810ed;
$secondary-accent-color: #00FF00;
$tertiary-accent-color: #b534ec;


// Neutral Colors
$light-gray: #ecf0f1;
$dark-gray: #34495e;
$white: #ffffff;
$black: #000000;