@import '../../styles/shared/_variables';

.dropdown-content {
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  background-color: $primary-color;
  max-width: 100%;
  right:1rem;
  margin-right:3rem;
  border-radius: 0.4rem;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width:100%;
}

.dropdown-content a:hover {
    border: #00FF00 solid 1px;
    color: white;
}


.dropdown-btn {
  background-color: transparent;
  outline:none;
  border:none;

  &:hover {
    outline:none;
    border:none;

  }

  &:focus {
    outline:none;
  }
}


.form-field {
  position: relative;
}


.floating-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
  transition: 0.3s ease all;
  z-index: 1;
  background-color: transparent;
  padding: 0 5px;
}

.floating-label.float-up {
  top: -7px;
  font-size: 12px;
}

.custom-select__control {
  border-color: #63db34;
  padding: 10px;
  background-color: $primary-color;
}

.custom-select__menu {
  background-color: $primary-color;
}

.custom-select__option:hover {
  background-color: $primary-color;
  color: white;
}


.custom-select__control--focused .floating-label,
.custom-select__control .custom-select__single-value {
  top: 5px;
  font-size: 16px;
  color: white;
}


.custom-select__control.has-value .floating-label {
  top: 5px;
  font-size: 12px;
  color: #00796b;
  background-color: $primary-color;
}
