@import '../shared/variables';

.landing-bg {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 0;
  background: linear-gradient(220deg, black 70%, $secondary-accent-color 30%),
  radial-gradient(circle at 50%, $accent-color, transparent 90%);
  background-blend-mode: overlay;


}