.search-container {
  position: relative;
  width:fit-content;

  input {
    border-color: #00FF00;
    background-color: transparent;
  }
}

input {
  width: 300px;
  padding-right: 40px;

  &:focus {
    outline: none;
  }
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
  color: #00FF00;
  right: 20px;
}