@import '../shared/_variables';
//Formatting options
.ql-snow .ql-picker {
  color:white !important;
}

.ql-snow .ql-stroke {
  color:white !important;
  stroke:white;
}

.ql-snow .ql-fill {
  fill:white !important;
}

//Dropdown
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  background-color:$primary-color !important;
}

@media(max-width: 600px) {
  .text-editor {
    width: 90vw !important;
  }

  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    height: 30vh !important;
  }
}
